Index: contrib/test_installed
===================================================================
--- contrib/test_installed	(revision 193495)
+++ contrib/test_installed	(working copy)
@@ -48,6 +48,8 @@
   --srcdir=*) srcdir=`echo "$1" | sed 's/[^=]*=//'`; shift;;
 
   --prefix=*) prefix=`echo "$1" | sed 's/[^=]*=//'`; shift;;
+  --with-gdb=*)GDB=`echo "$1" | sed 's/[^=]*=//'`; shift;;
+  --with-gcov=*)GCOV_UNDER_TEST=`echo "$1" | sed 's/[^=]*=//'`; shift;;
   --with-gcc=*) GCC_UNDER_TEST=`echo "$1" | sed 's/[^=]*=//'`; shift;;
   --with-g++=*) GXX_UNDER_TEST=`echo "$1" | sed 's/[^=]*=//'`; shift;;
   --with-gfortran=*) GFORTRAN_UNDER_TEST=`echo "$1" | sed 's/[^=]*=//'`; shift;;
@@ -72,6 +74,8 @@
                               [deduced from shell-script pathname]
 
 --prefix=/some/dir            use gcc, g++ and gfortran from /some/dir/bin [PATH]
+--with-gdb=/some/dir/bin/gdb  use specified gdb program [gdb]
+--with-gcov=/some/dir/bin/gcov use specified gcov program [gcov]
 --with-gcc=/some/dir/bin/gcc  use specified gcc program [gcc]
 --with-g++=/some/dir/bin/g++  use specified g++ program [g++]
 --with-gfortran=/some/dir/bin/gfortran  use specified gfortran program [gfortran]
@@ -107,14 +114,33 @@
 set srcdir "${testsuite-${srcdir}/gcc/testsuite}"
 set CFLAGS ""
 set CXXFLAGS ""
+set GDB "${GDB}"
+set GCOV_UNDER_TEST "${GCOV_UNDER_TEST}"
 set GCC_UNDER_TEST "${GCC_UNDER_TEST-${prefix}${prefix+/bin/}gcc}"
 set GXX_UNDER_TEST "${GXX_UNDER_TEST-${prefix}${prefix+/bin/}g++}"
 set GFORTRAN_UNDER_TEST "${GFORTRAN_UNDER_TEST-${prefix}${prefix+/bin/}gfortran}"
 set OBJC_UNDER_TEST "${OBJC_UNDER_TEST-${prefix}${prefix+/bin/}gcc}"
+
+set libiconv ""
+set HOSTCC "gcc"
+set HOSTCFLAGS ""
+set TESTING_IN_BUILD_TREE 1
+set GMPINC ""
+set ENABLE_LTO 1
+set HAVE_LIBSTDCXX_V3 1
+set device_serial \"@DEVICE@\"
+set host_triplet i686-pc-linux-gnu
+set build_triplet i686-pc-linux-gnu
+set target_triplet i686-pc-linux-android-gnu
+set target_alias i686-pc-linux-android
+set android_tmp_dir "@EXEC_FOLDER@"
+set bridge_tmp_dir "@EXEC_FOLDER@"
+append boards_dir "@BOARDS_DIR@"
+set bridge_mode 1
 EOF
 
-test x"${GCC_UNDER_TEST}" = x"no" || runtest --tool gcc ${1+"$@"}
-test x"${GXX_UNDER_TEST}" = x"no" || runtest --tool g++ ${1+"$@"}
+test x"${GCC_UNDER_TEST}" = x"no" || @DEJAGNU_DIR@runtest --target_board=androideabi --tool gcc ${1+"$@"}
+test x"${GXX_UNDER_TEST}" = x"no" || @DEJAGNU_DIR@runtest --target_board=androideabi --tool g++ ${1+"$@"}
 test x"${GFORTRAN_UNDER_TEST}" = x"no" || runtest --tool gfortran ${1+"$@"}
 test x"${OBJC_UNDER_TEST}" = x"no" || runtest --tool objc ${1+"$@"}
 
